Gmail-to-Jira Ticket Automation Workflow.json
{
  "name": "Gmail-to-Jira Ticket Automation Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "sender": "ashu.kataria@inpracsys.com"
        },
        "options": {}
      },
      "id": "05b5093f-fa98-430a-a09f-9688f6cd9f7f",
      "name": "Check for New Emails\t",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        -2000,
        432
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "=https://inpracsys.atlassian.net/rest/api/3/project/search?startAt=0&maxResults=100&expand=lead",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        400
      ],
      "id": "e77fbbd1-51aa-4b50-aacd-7f4c91757e0d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "347c5805-b13a-4df6-b596-e471aa143756",
              "name": "projects",
              "value": "={{ $json.projects }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        400
      ],
      "id": "855a76cd-92fd-45eb-9119-3c23cce4218a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "=https://inpracsys.atlassian.net/rest/api/3/users/search?query=&startAt=0&maxResults=1000",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        400
      ],
      "id": "83bbfc7a-4591-4a7c-8b4c-25f30dda266d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "// Collect every user item coming in\nconst users = $input.all().map(i => i.json);\n\n// Map to a clean list (active only)\nconst seen = new Set();\nconst assignees = users\n  .filter(u => u && u.accountId && u.active !== false)\n  .filter(u => (seen.has(u.accountId) ? false : (seen.add(u.accountId), true)))\n  .map(u => ({\n    accountId: String(u.accountId),\n    displayName: String(u.displayName || \"\"),\n    email: String(u.emailAddress || \"\"),   // may be blank by org policy\n  }));\n\nreturn [{ json: { assignees } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        416
      ],
      "id": "d4fb1220-8278-4ebc-8a9b-c8bb1102a58b",
      "name": "Code1"
    },
    {
      "parameters": {
        "url": "=https://inpracsys.atlassian.net//rest/api/3/issuetype",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        448
      ],
      "id": "fef42c4c-a915-4738-be68-044b1074e049",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "jsCode": "// Gather all issue-type items from previous node\nconst items = $input.all().map(i => i.json);\n\n// Map to clean arrays\nconst issueTypes = items.map(t => ({\n  id: String(t.id || \"\"),\n  name: String(t.name || \"\"),\n  subtask: !!t.subtask\n}));\n\nconst select = issueTypes\n  .filter(t => !t.subtask)                 // skip subtasks for create dropdowns\n  .map(t => ({ name: t.name, value: t.id }));\n\nreturn [{ json: { issueTypes, select } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        528
      ],
      "id": "9c0e79a4-8199-43c6-b637-2723bcee58a4",
      "name": "Code2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "476614bf-2457-41a3-9698-b66977756904",
              "name": "issueTypes",
              "value": "={{ $json.issueTypes }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        16
      ],
      "id": "94769aa4-0567-41ec-a580-af0c71bc3196",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2fc9cb8-ad3d-49cb-bfc5-ee3e47725130",
              "name": "assignees",
              "value": "={{ $json.assignees }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        448
      ],
      "id": "19b56449-bbe0-4ac4-900e-9c56d8704295",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsCode": "// Input: HTTP node output with json.values[]\nconst arr = ($json.values || []).map(p => ({\n  id: String(p.id || \"\"),\n  key: String(p.key || \"\"),\n  name: String(p.name || \"\")\n}));\n\nreturn [{ json: { projects: arr } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        400
      ],
      "id": "156fa706-367e-4eb3-b5f3-59820a921981",
      "name": "Code4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Project   : {{ $node[\"Edit Fields5\"].json.project }}\nAssignee  : {{ $node[\"Edit Fields5\"].json.assignee }}\nIssue type: {{ $node[\"Edit Fields5\"].json.issue_type }}\n\n\nKnowldgebase: {{$json.ctx_json}}\n\n",
        "options": {
          "systemMessage": "You are a deterministic data validator and matcher. Your job is to take three free-text hints — project, assignee, and issue_type — and select their IDs from the provided knowledgebase arrays. Return ONE valid JSON object only.\n\nGround rules\n- Use ONLY the provided knowledgebase arrays; never invent values or call external sources.\n- Match case-insensitively. Trim spaces, ignore punctuation where sensible.\n- Output empty string \"\" when no confident match exists.\n\nKnowledgebase (will be provided in the user message)\n- project_candidates: [{ id, key, name }]\n- assignee_candidates: [{ accountId, displayName, email }]\n- issue_type_candidates: [{ id, name, subtask }]\n\nMatching rules\n- Project: prefer exact match on key; else exact name; else unique partial match on key/name. If multiple tie, choose \"\".\n- Assignee: prefer exact email; else exact displayName; else token-overlap/unique partial on name. If input implies “unassigned”, return \"\".\n- Issue type: prefer exact name. Treat common synonyms (e.g., Bug≈Defect, Story≈Feature, Incident≈Bug depending on list). Prefer non-subtask type when both exist with same name.\n- Never choose a candidate that conflicts with the input semantics (e.g., picking a subtask type when the input clearly says “Task”).\n\nReturn JSON in exactly this shape (no extra keys, no prose):\n{\n  \"project_id\": \"string\",\n  \"assignee_id\": \"string\",\n  \"issuetype_id\": \"string\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "a30c5c3e-6433-4d58-b82d-d117226e56ef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Code — merge candidates only (projects, assignees, issue types)\n\n/** helpers */\nfunction toArray(v){ if (Array.isArray(v)) return v; if (!v) return []; if (typeof v === \"string\") { try { const p = JSON.parse(v); return Array.isArray(p)?p:[p]; } catch { return []; } } return [v]; }\nfunction safeItems(name){ try { return $items(name, 0, 0); } catch { return []; } }\nfunction safeFirstJson(name){ const a = safeItems(name); return a.length ? a[0].json : undefined; }\n\n/** gather raw sources (current item -> fallbacks) */\nlet projectsRaw =\n  $json.projects ?? $json.project_candidates ??\n  (safeFirstJson('Edit Fields1')?.projects) ??\n  (safeFirstJson('HTTP Request1')?.values) ?? [];\n\nlet assigneesRaw =\n  $json.assignees ?? $json.assignee_candidates ??\n  (safeFirstJson('Edit Fields3')?.assignees) ??\n  (safeItems('HTTP Request1').map(i => i.json)) ?? []; // if that node was users/search\n\nlet issueTypesRaw =\n  $json.issueTypes ?? $json.issue_type_candidates ??\n  (safeFirstJson('Edit Fields2')?.issueTypes) ??\n  (safeItems('HTTP Request2').map(i => i.json)) ?? [];\n\n/** normalize */\nconst project_candidates = toArray(projectsRaw)\n  .map(p => ({ id:String(p.id||\"\"), key:String(p.key||\"\"), name:String(p.name||\"\") }))\n  .filter(p => p.id || p.key || p.name);\n\nconst assignee_candidates = toArray(assigneesRaw)\n  .map(a => ({ accountId:String(a.accountId||\"\"), displayName:String(a.displayName||\"\"), email:String(a.email||a.emailAddress||\"\") }))\n  .filter(a => a.accountId || a.displayName);\n\nconst issue_type_candidates = toArray(issueTypesRaw)\n  .map(t => ({ id:String(t.id||\"\"), name:String(t.name||\"\"), subtask:Boolean(t.subtask) }))\n  .filter(t => t.id || t.name);\n\n/** final context (no email fields) */\nconst ctx = { project_candidates, assignee_candidates, issue_type_candidates };\nreturn [{ json: { ctx, ctx_json: JSON.stringify(ctx, null, 2) } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        16
      ],
      "id": "178bacf9-7637-4728-bb33-8ca0c41b75f9",
      "name": "Code3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        208
      ],
      "id": "add19eec-1177-4449-9c52-13a47c80b05e",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "jsCode": "let raw = $json.output || $json.message?.content || \"\";\nraw = raw.replace(/```json|```/g, \"\").trim();\nlet out = {};\ntry { out = JSON.parse(raw); } catch (e) { out = {}; }\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        0
      ],
      "id": "112a3e13-e225-4d2f-96c6-0b6f1bca0bda",
      "name": "Code5"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "={{ $items('Code5', 0, 0)[0]?.json?.project_id || '' }}",
          "mode": "id"
        },
        "issueType": {
          "__rl": true,
          "value": "={{ $json.issuetype_id }}",
          "mode": "id"
        },
        "summary": "={{$items('Edit Fields5', 0, 0)[0].json.subject || ''}}",
        "additionalFields": {
          "assignee": {
            "__rl": true,
            "value": "={{ $items('Code5', 0, 0)[0]?.json?.assignee_id || '' }}",
            "mode": "id"
          },
          "description": "={{$items('Edit Fields5', 0, 0)[0].json.description || ''}}"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        1184,
        0
      ],
      "id": "6a4afc52-228b-472f-b191-41a5aceca245",
      "name": "Create an issue"
    },
    {
      "parameters": {
        "url": "=https://inpracsys.atlassian.net//rest/api/3/issue/createmeta?projectIds={{$json.project_id}}&expand=projects.issuetypes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ],
      "id": "9c6ac58b-8888-4101-ad38-a9caa26ab809",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "jsCode": "// Code6 — choose a valid issue type ID for the selected project\n\nfunction fromNode(name) {\n  try {\n    const arr = $items(name, 0, 0) || [];\n    return (arr[0] && arr[0].json) ? arr[0].json : {};\n  } catch (_) {\n    return {}; // node not found / no path back\n  }\n}\n\n// Pull hints from the current item and, if present, from Edit Fields5\nconst ef = fromNode('Edit Fields5');          // <-- put the real node name here\n\nconst desiredId   = String($json.issuetype_id ?? ef.issuetype_id ?? '');\nconst desiredName = String(\n  $json.issue_type ?? ef.issue_type ?? $json.task_type ?? ''\n).toLowerCase().trim();\n\n// Get the available issue types for the selected project\n// (adjust this line to where your list actually is)\nconst types =\n  $json.issuetypes\n  ?? $json.projects?.[0]?.issuetypes\n  ?? [];\n\n// Normalise the list\nconst cleanTypes = types\n  .filter(t => !t.subtask)\n  .map(t => ({ id: String(t.id), name: String(t.name).toLowerCase() }));\n\n// Pick best match: exact ID -> exact name -> partial name -> fallback\nlet pick =\n  cleanTypes.find(t => t.id === desiredId)\n  || cleanTypes.find(t => t.name === desiredName)\n  || (desiredName ? cleanTypes.find(t => t.name.includes(desiredName)) : undefined)\n  || { id: '' };\n\nreturn [{ json: { issuetype_id: pick.id } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "20c4a56b-17cd-4c88-94be-945bb36ff276",
      "name": "Code6"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.gmail_message_id || $json.id || $json.message?.id || '' }}",
        "emailType": "text",
        "message": "=Hi your Jira task creation was successful.\n👉 Key: {{ $items('Keep jira info', 0, 0)[0]?.json?.[\"key\"] }}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1856,
        0
      ],
      "id": "d6065b10-5595-408d-b5c5-fbfe186995e0",
      "name": "Reply to a message",
      "webhookId": "4c4ccbca-712f-40f0-b005-4fab463f1fc6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81e538ac-000e-4d9d-b8a4-ad3eb95174e4",
              "name": "id",
              "value": "={{ $('Check for New Emails\t').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        112
      ],
      "id": "e0609008-93bf-495d-8cd3-a44b4e31636e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8a7ed92-0415-4dd1-b0c9-e5dd190b0d68",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "68180351-73f8-4f53-8096-d73ac9674be5",
              "name": "key",
              "value": "={{ $json.key }}",
              "type": "string"
            },
            {
              "id": "4a464aab-8edf-45b5-9003-82ad4205552b",
              "name": "self",
              "value": "={{ $json.self }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        0
      ],
      "id": "92e1ec96-7508-4e55-b687-b2b681949ea0",
      "name": "Keep jira info"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "key",
              "field2": "id"
            }
          ]
        },
        "joinMode": "enrichInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1584,
        208
      ],
      "id": "f593165a-d78a-4d1f-99f6-ad379e133b46",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "=https://gmail.googleapis.com/gmail/v1/users/me/messages/{{$json.id}}?format=raw\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1792,
        432
      ],
      "id": "3e4cacf2-14e1-4ef7-a7b0-36a2d644d3a4",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.raw || '';\nconst eml = Buffer.from(raw.replace(/-/g,'+').replace(/_/g,'/'),'base64').toString('utf8');\n\n// extremely simple extraction – improve if you need robust MIME parsing\nconst htmlMatch  = eml.match(/Content-Type:\\s*text\\/html[\\s\\S]*?\\r?\\n\\r?\\n([\\s\\S]*?)\\r?\\n--/i);\nconst textMatch  = eml.match(/Content-Type:\\s*text\\/plain[\\s\\S]*?\\r?\\n\\r?\\n([\\s\\S]*?)\\r?\\n--/i);\n\nreturn [{\n  json: {\n    textPlain: (textMatch && textMatch[1]) || '',\n    textHtml:  (htmlMatch && htmlMatch[1]) || '',\n    eml\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        432
      ],
      "id": "95de018f-106c-462c-86a9-ad21b1c5005c",
      "name": "Code7"
    },
    {
      "parameters": {
        "jsCode": "// Code8 — robust email field extractor (project, issue_type, assignee, subject, description)\n\n// --- helpers -------------------------------------------------\nfunction qpDecode(s = \"\") {\n  // join soft line breaks\n  s = String(s).replace(/=\\r?\\n/g, \"\");\n  // =HH -> byte\n  const bin = s.replace(/=([A-Fa-f0-9]{2})/g, (_, h) =>\n    String.fromCharCode(parseInt(h, 16))\n  );\n  // bytes -> utf8\n  return Buffer.from(bin, \"binary\").toString(\"utf8\");\n}\n\nfunction htmlToText(html = \"\") {\n  return String(html)\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, \"\")\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, \"\")\n    .replace(/<br\\s*\\/?>/gi, \"\\n\")\n    .replace(/<\\/(p|div|li|tr|h[1-6])>/gi, \"\\n\")\n    .replace(/<[^>]+>/g, \"\")\n    .replace(/&nbsp;/g, \" \")\n    .replace(/&amp;/g, \"&\")\n    .replace(/&lt;/g, \"<\")\n    .replace(/&gt;/g, \">\")\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\");\n}\n\nfunction norm(s = \"\") {\n  return String(s)\n    .replace(/\\r/g, \"\")\n    .replace(/[ \\t]+\\n/g, \"\\n\")\n    .replace(/\\u00A0/g, \" \")\n    .trim();\n}\n\nfunction grab(re, s) {\n  const m = s.match(re);\n  return m ? m[1].trim() : \"\";\n}\n\n// --- pick a source & decode ---------------------------------\nlet subject = $json.subject || $json.Subject || \"\";\nlet source =\n  $json.textPlain ||\n  ($json.textHtml ? htmlToText($json.textHtml) : \"\") ||\n  \"\";\n\n// Gmail “snippet” (tiny preview) as a weak fallback\nif (!source && $json.snippet) source = $json.snippet;\n\n// Gmail “raw” (base64url) fallback\nif (!source && $json.raw) {\n  try {\n    source = Buffer.from(String($json.raw), \"base64url\").toString(\"utf8\");\n  } catch {}\n}\n\n// Full RFC822 message (.eml) fallback\nif (!source && $json.eml) {\n  const eml = String($json.eml);\n  if (!subject) subject = grab(/^Subject:\\s*(.+)$/im, eml);\n  // strip headers (take text after first blank line)\n  const m = eml.match(/\\r?\\n\\r?\\n/);\n  source = m ? eml.slice(m.index + m[0].length) : eml;\n}\n\n// decode quoted-printable when present\nif (/=\\r?\\n|=[A-F0-9]{2}/i.test(source) || /Content-Transfer-Encoding:\\s*quoted-printable/i.test(source)) {\n  source = qpDecode(source);\n}\n\n// collapse HTML if any\nif (/<[a-z][\\s\\S]*>/i.test(source)) source = htmlToText(source);\n\nconst body = norm(source);\n\n// --- extract fields -----------------------------------------\nconst project    = grab(/^\\s*project\\s*[:\\-]\\s*(.+)$/im, body);\nconst issue_type =\n  grab(/^\\s*issue\\s*type\\s*[:\\-]\\s*(.+)$/im, body) ||\n  grab(/^\\s*issuetype\\s*[:\\-]\\s*(.+)$/im, body);\nconst assignee   = grab(/^\\s*assignee\\s*[:\\-]\\s*(.+)$/im, body);\n\n// multi-line description: everything after “Description:”\nlet description = \"\";\nconst lines = body.split(\"\\n\");\nconst idx = lines.findIndex(l => /^\\s*description\\s*[:\\-]/i.test(l));\nif (idx !== -1) {\n  const first = lines[idx].replace(/^\\s*description\\s*[:\\-]\\s*/i, \"\");\n  description = (first ? first + \"\\n\" : \"\") + lines.slice(idx + 1).join(\"\\n\");\n  description = description.trim();\n}\n\n// optional: normalize smart quotes\ndescription = description.replace(/[‘’]/g, \"'\").replace(/[“”]/g, '\"');\n\nreturn [\n  {\n    json: {\n      project,\n      issue_type,\n      assignee,\n      subject,\n      description,\n      raw: body, // for debugging/visibility\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        432
      ],
      "id": "01953472-a9fc-488c-becf-3ec529d18c6d",
      "name": "Code8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd26f692-28f3-40db-bb55-17acf1a42797",
              "name": "project",
              "value": "={{ $('Code8').item.json.project }}",
              "type": "string"
            },
            {
              "id": "4eb96083-4fa3-4972-b9fa-4b916e5f1d11",
              "name": "assignee",
              "value": "={{ $('Code8').item.json.assignee }}",
              "type": "string"
            },
            {
              "id": "7be9761c-cac4-4e5a-91ef-f2d23677a4c6",
              "name": "issue_type",
              "value": "={{ $('Code8').item.json.issue_type }}",
              "type": "string"
            },
            {
              "id": "37b7ce19-e44c-4f95-b389-8f37c5f821dc",
              "name": "description",
              "value": "={{ $('Code8').item.json.description }}",
              "type": "string"
            },
            {
              "id": "d95d5edd-4a33-48db-b1d6-6656ee625a82",
              "name": "subject",
              "value": "={{ $('Code8').item.json.subject }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        32
      ],
      "id": "abd678d4-4ff3-41f4-b870-cdc089f1aa41",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ea39116-9a79-4d78-b747-738d4bcbd8b0",
              "leftValue": "={{ $json.project }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "7336d03b-b0ba-47e1-80d4-179645d90091",
              "leftValue": "={{ $json.assignee }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "aec8e22e-8325-4ac2-bc7c-2467d8ed18cf",
              "leftValue": "={{ $json.issue_type }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5a08157a-ed66-4bf3-876f-3d7c58c20323",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cfe88463-f7c0-46f0-b98d-8c86d26cd88e",
              "leftValue": "={{ $json.description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1168,
        432
      ],
      "id": "fd26ad6a-46b3-46f3-b61f-2c31cc8ae498",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Check for New Emails\t": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Keep jira info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep jira info": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9e65ec71-cbbb-4c8c-8c19-56e4e74ba789",
  "meta": {
    "instanceId": "2e73dc9401fc0dad025931b2dd78991a98c38f3f7b7443334d21c0208c6e67b5"
  },
  "id": "hOqIJFEBjS0Jk6xX",
  "tags": []
}